/* -- Common properties -- */

.login .row,
.login {
  height: calc(100vh - 50px);
}

.login .card {
  top: 50%;
  transform: translateY(-50%);
}

.login .card,
.login input,
.login button {
  border-radius: 0;
}

.login button:hover {
  opacity: 0.65;
}

/* ----------------------- */

/* -- Light theme properties -- */

.login-light * {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(32, 32, 32) !important;
  border-color: rgb(32, 32, 32) !important;
}

/* ----------------------- */

/* -- Dark theme properties -- */

.login-dark * {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
}

/* ----------------------- */
