/* -- Common properties -- */

.matchup .row,
.matchup {
  height: calc(100vh - 50px);
}

.matchup .bolt-icon {
  color: gold !important;
  transform: rotate(30deg);
}

/* ----------------------- */

/* -- Light theme properties -- */

.matchup-light * {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(32, 32, 32) !important;
  border-color: rgb(32, 32, 32) !important;
}

/* ----------------------- */

/* -- Dark theme properties -- */

.matchup-dark * {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
}

/* ----------------------- */
