/* -- Common properties -- */

.not-found .row,
.not-found {
  height: calc(100vh - 50px);
}

.not-found .not-found-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100vw;
}

/* ----------------------- */

/* -- Light theme properties -- */

.not-found-light * {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(32, 32, 32) !important;
  border-color: rgb(32, 32, 32) !important;
}

/* ----------------------- */

/* -- Dark theme properties -- */

.not-found-dark * {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
}

/* ----------------------- */
