.create .row {
  height: 100vh;
}

.create .card {
  top: 50%;
  transform: translateY(-50%);
}

.create .card,
.create input,
.create button {
  border-radius: 0;
}

.create .card-body {
  height: 328px;
}

.create .card-footer {
  background: transparent;
  border-top: none;
}

.create .card-footer button {
  background: transparent;
  border: none;
}

.create .card-footer button:hover {
  opacity: 0.5;
}
