/* -- Common properties -- */

.create .row {
  height: calc(100vh - 50px);
}

.create .card {
  top: 50%;
  transform: translateY(-50%);
}

.create .card,
.create input,
.create button {
  border-radius: 0;
}

.create .card-body {
  height: 328px;
}

.create .card-footer {
  background: transparent;
  border-top: none;
}

.create .card-footer button {
  background: transparent;
  border: none;
}

.create .card-footer button:hover {
  opacity: 0.5;
}

.create button:hover {
  opacity: 0.65;
}

/* ----------------------- */

/* -- Light theme properties -- */

.create-light * {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(32, 32, 32) !important;
  border-color: rgb(32, 32, 32) !important;
}

/* ----------------------- */

/* -- Dark theme properties -- */

.create-dark * {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(255, 255, 255) !important;
  border-color: white !important;
}

/* ----------------------- */
